// Styling
body{
    color: black;
    background-color: #f5f5f5;
    /*color: white;
    background: #1563FF;*/
    a {
        color: $brand-blue;
    }
}
.btn-primary{
    background-color: $brand-blue;
    border-color: $brand-blue;
}
.btn-task {
    color: $brand-blue;
    border-color: $brand-blue;
    background-color: rgba(0, 0, 0, 0);
    &:hover {
        color: white;
        border-color: $brand-blue;
        background-color: $brand-blue;
    }
}

// Bootstrap Components Overrides

.row {
    margin-left: 0px; 
    margin-right: 0px; 
}

.nav-item{
    list-style: none !important;
}   
.navbar{
    margin-bottom: 10vh;
    border-radius: 0 !important;
    background: $navbar-bg;
    box-shadow: $shadow;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .nav-item{
        display: inline-block;
        padding: 0 0.5em;
    }
    .navbar-brand{
        font-weight: bold;
    }
    &:hover{
        color: $brand-blue;
    }
    a {
        color: #333;
        &:hover{
            color: $brand-blue;
        }
    }
    ul{
        float: right;
        margin-left: auto;
        margin-bottom: 0;
        padding: 0.5em;
    }
    ul li{
        /*display: inline;
        padding: 0.5em;
        float: right;*/
    }
}

.table thead th {
    border-top: 0;
    border-bottom: 0px !important;
}

.table th, .table td {
    padding: 1em;
    vertical-align: middle !important;
    border-top: 1px solid #eceeef;
}
td:nth-child(2){ 
    form{
    float: right;
    }
}
 
.btn-danger{
    background-color: $red!important;
    border-color: $red!important;
}

.mt-5{
    margin-top: 5em;
}

.form-group{
    padding: 1.5em 0;
}

.card-header{
    font-weight: bold;
}
.dropdown-item{
    text-align: center!important;
}

// Table
.table thead th{
    color: white;
}
.table-done{
    opacity: 0.3;
}
thead tr{
    background: transparent !important;
    box-shadow: none !important;
}
table tr{
    background: white;
    color: black;
    border: 1px solid transparent;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.16);
}
table{
    border-collapse: separate;
    border-spacing: 0 0.5rem;
}
.table th, .table td {
    padding: 0.75rem; 
    border-top: 1px solid transparent;
}
.task_title{
    font-weight: 700;
}

.card{
    color: black;
    border-radius: 1px;
    border: none;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
}
.card_task{
    padding: 10px 0;
}
.card-header{
background-color: #fff;
border-bottom: none;
}
.container{
    margin-top: 5em;
}
p.bold{
    font-weight: bold;
}
.form-control {
    /*padding: 0.15rem 0.75rem;*/
    color: #333;
    background-color: #fff;
    /*border: none;*/
    border-radius: 3px;
    margin-bottom: 0.5rem;
}

.dropdown-menu{
    &:hover{
        background-color: #f5f5f5;
    }
}
time{
    color: rgba(0, 0, 0, 0.33);
}
.wrapper{
    margin: 10vh 0 ;
}
.posts .post {
    padding-left: 10px;
    border-left: 2px solid $brand-blue;
    margin-bottom: 30px;

    .info {
        font: #aaa;
        font-style: italic;
    }
}
.error ul{
    color: firebrick;
    list-style: none;
    margin: 0;
    margin-top: 20px;
    padding: 0;
}
.success{
    color: #2ca02c;
    margin-top: 20px;
    list-style: none;
}
.container-posts{
    background: white;
    padding-top: 2.5em;
}
// Styling

